<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <section name="HedgehogDevelopment.Razl.Service.Configuration" type="HedgehogDevelopment.Razl.Service.ServiceConfiguration, HedgehogDevelopment.Razl.Service" />
  </configSections>
  <HedgehogDevelopment.Razl.Service.Configuration accessGuid="1d8edd8e-0683-4fc2-b3c3-2c43ebe84286" />
   <system.web>
     <httpHandlers>
        <add verb="*" path="RazlStream.axd" validate="false" type="HedgehogDevelopment.Razl.Service.StreamingHandler, HedgehogDevelopment.Razl.Service"/>
     </httpHandlers>
   </system.web>	
  <system.webServer>
     <handlers>
        <add name="RazlStream" verb="*" path="RazlStream.axd"  type="HedgehogDevelopment.Razl.Service.StreamingHandler, HedgehogDevelopment.Razl.Service"/>
    </handlers>
 </system.webServer>
</configuration>